
    <h1>:D Bom dia</h1>
 
        <div class="container">
            <div class="card" id="card1" onclick="setSong(0)">
                <img src="img\Wellcome to the internet.jpg">
                <h3>Wellcome to the internet</h3>
           
            </div>
            <div class="card" id="card2" onclick="setSong(1)">
                <img src="img\We'll meet again.jpg">
                <h3>We'll meet again</h3>
             
            </div>
                
            <div class="card" id="card3" onclick="setSong(2)">
                <img src="img\Sangue.png ">
                <h3>Sangue</h3>
           
            </div>
                
            <div class="card" id="card4" onclick="setSong(3)">
                <img src="img\PepePls.jpg">
                <h3>PepePls</h3>
               
            </div>

        </div>

        <div class="box"></div>



