<main class="Main", onscroll="">
    <h1>:D Bom dia</h1>
  
    <div class="container"> 
        <button class="play"> play</button>
        <script>
        musicas = ['Welcome to the Internet.mp3']
        caminho =  `./musicas/${musicas[0]}`

        const button = document.querySelector(".play")
        button.addEventListener('click', function playAudio(){
            let audio = new Audio(caminho)
            audio.play()
        })
            
            
            
        
        </script>
    </div>

    <div class="box"></div>




</main>
