




.container {
    display: flex;
    flex-wrap: wrap;
    height: 50%;
    width: 90%;
    padding: 0;
    margin-left: 40px;
    background-color: transparent;
}
.box{
    border-radius: 10px;
    margin: 10px;
    margin-left: 50px;
    width: 85.8%;
    height: 3px;
    background-color: rgb(34, 34, 34);
    display: flex;
  
}
.card{
    
    display: flex;
    background-color: rgb(34, 34, 34);
    width: 45%;
    height: 30%;
    margin: 4%;
    margin-left: 1%;
    border-radius: 10px;
    margin-bottom: 0;
    margin-top: 0;
    color: white;
   
   
    flex-wrap: wrap;
   align-content: start;
   
    
}
.card img {
justify-self: left;
margin-right: 5%;
align-self:normal;
height: 100%;
width: 23%;

}

.card h3{ 
justify-self: left;
font-size: 80%;
}