.Main{
    
    align-items: top;
    flex-direction: column;
    overflow-y: auto;
    
}
.Main::-webkit-scrollbar{
    width: 1vh;
}

.Main::-webkit-scrollbar-thumb{
    background-color: #353535;
    animation-name: fade;
    animation-duration: 1s;


}
@keyframes fade {
    from {
        background-color: #353535;
    }
    to {
        background-color: transparent;
    }
}

.Main .container {
    height: 200px;
    width: 102.5vh;
    margin: 10px;
    margin-left: 40px;
    background-color: rgb(34, 34, 34);
}
.Main .box{
    border-radius: 10px;
    margin: 10px;
    margin-left: 50px;
    width: 100vh;
    height: 100px;
    background-color: rgb(34, 34, 34);
    display: flex;
  
}